/* Reset the default styles for some elements */
html, body, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Set some global styles for the page */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration:salmon;
  }
  
  a:hover {
    color:#fd4766;
    text-decoration: underline;
  }
  
  /* Style the header section */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fde3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  /* Style the main content section */
  main {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background-color: #14b9ebe1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
  }
  .title {
    color: #5aadf0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(
        120deg,
        #1c99fe 20.69%,
        #7644ff 50.19%,
        #fd4766 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
  color: #333;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
h1 span {
  color: #fd4766;
}
  p{
    text-align: justify;
  }
  section {
    margin-bottom: 40px;
  }
   .projects {
    font-style: italic;
    border-color: #f84081;

  }
  ul li {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #f84081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Style the footer section */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  